body {
  background-color: white;
  /* margin: 0.5rem; */
  font-family: "Courier New", Courier, monospace;
}
header,
main,
footer {
  background-color: white;
}
.button {
  position: absolute;
}
#start-button {
  display: block;
  width: 50%;
  height: 25%;
  /* border: black; */
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  background-color: white;
  /* box-shadow: 0 5px 0 dodgerblue; 
  */
  /* GOT IDEA FROM STACK OVERFLOW BUTTON ANIMATION */
  box-shadow: 0px 5px 0px dodgerblue;
  position: relative;
  top: 0px;
  transition: all ease 0.1s;
}
#start-button:hover {
  cursor: pointer;
}
#start-button:focus {
  outline: none;
}
#start-button:active {
  /* box-shadow: 0 1px 0 dodgerblue; */
  box-shadow: 0px 1px 5px dodgerblue;
  /* top: 3px; */
  transform: translateY(3px);
}

/* MIGHT MAKE A CLASS TO HANDLE BORDERS WITH STYLE */

.custom-border {
  background-color: white;
  border: 2px solid black;
}
.question-item {
  width: 70%;
  height: 40%;
}
.answer-item {
  width: 60%;
  /* text-overflow: ; */
  height: 20%;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: 0px;
  transition: all ease 0.1s;
}
.answer-item:hover {
  background-color: dodgerblue;
  color: white;
}
.answer-item:active {
  transform: translateY(3px);
}
#custom-timer {
  box-shadow: 0px 5px 0px lightgreen;
}
/* 
#custom-score {
  background-color: white;
  border: 2px solid black;
} */
.position-fixed#overlay-background {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.25;
  z-index: 1;
}
.position-fixed#game-over {
  top: 5%;
  left: 25%;
  width: 50%;
  height: 70%;
  display: block;
  text-align: center;
  box-shadow: 0px 2px 0px dodgerblue;
  z-index: 2;
}

/* .form-row {
  font-size: 16px;
} */

#custom-header {
  display: block;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  box-shadow: 0px 5px 0px dodgerblue;
}
